*{
  background-color: #F7F6F4;
  font-family: 'Jost', sans-serif;
  margin: 0;
  padding: 0;
}


div.container{
  display: grid;
  grid-template-columns: 1fr 11fr ;
  grid-template-rows: 2fr 5fr 5fr;
  grid-template-areas: 
    "profile header header header"
    "profile readlist readlist readlist"
    "profile new-release new-release new-release";

  border: 7px solid #f99823;
  border-radius: 50px;
  margin: 60px;
  height: 100vh;
  column-gap: 10px;
  overflow: scroll;
}

div.nav{
  /* display: grid; */
  grid-area: profile / profile / profile;
  grid-row: 1fr auto;
  grid-column: auto;
  /* border:  1px solid rgb(52, 52, 51); */
  /* background-image:  linear-gradient(to top left, #d2b795, #f99823, #DBD0BC); */
  border-radius: 40px;

}

div.profile-pic{
  display: grid;
  grid-area: profile;
  background-image: linear-gradient(to bottom right, #E9E8E6, #DCD5CB, #DBD0BC);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 ;
  padding: 20px;
  border-radius: 0 50px 50px 0;
  width: 250px;
  height: 300px;
  
}
div.profile-pic > img{
  flex: 1;
  width: auto;
  height: 40%;
  border-radius: 190px;
  /* padding: 10px; */
  margin: 50px;
  background-color: inherit;
}

div.profile-pic > img:hover{
  transition: 1s ease;
  transform: scale(width, height);
  opacity: 0.7;
  border: 3px solid #090909;
}

div.nav p.profile-welcome{
  background-image: linear-gradient(to bottom right, #DCD5CB, #DBD0BC);
  color: #090909;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
  position: relative;
  top: -50px;

}



div.nav > .profile-navBar{
  display: grid;
  grid-area: profile;
  list-style: none; 
  margin-top: 70px;

}

 div.nav > ul.profile-navBar li{
   margin: 10px;
   padding: 20px;
   font-weight: 500;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-direction: row;
   gap: 7px;
   
  }

  div.nav > ul.profile-navBar li:hover{
    color: #f99823;
    font-weight: 600;
    font-size: 1.3;
    padding-bottom: 25px;
    transition: 1ms ease;
  }


  div.nav > img.amazon-logo{
    display: grid;
    grid-row: 4 /3;
    grid-column:auto;
    grid-area: profile;
    max-width: 40%;
    height: auto;
    margin: 0  70px;

  }

div.header{
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-rows: auto ;
  grid-template-areas: "header-name header-search header-search header-options";
  border: 1px solid rgb(52, 52, 51);
  align-content:center;
  border-radius: 40px;
  margin-top: inherit;
}

div.header > .header-name{
  text-align: left ;
  grid-area: header-name;
  font-size: 3rem;
  font-weight: 700;
  margin: 30px;
}
div.header > .header-name:hover{
  color: #f99823;
  cursor: pointer;
  font-size: 3.2rem;
  transition: 1s ease;

}
div.header > input{
  align-items: center;
}
div.header > input#search-bar{
  grid-area: header-search ;
  position: relative;
  padding: 0px 38px;
  margin: 30px 10px;
  border-radius: 30px;
  background-color: #ffffff;
  border: 2px solid #f7f6f2;
  font-size: 1rem;
  width: 800px;
}
div.header > input#search-bar:focus{
  border: 1px solid #f99823;
  padding-inline: 50px;
  transition: 1s ease;
 }
div.header > button.search-button{
  grid-area: header-search;
  cursor: pointer;
  position: relative;
  left: 838px;
  top: 36px;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  border: none;
  background-image: none
}
div.header > button.search-button > span{
  color: #bdbdbd;
  font-size: 1.4rem;
  background-color: none;
}

div.header > button.search-button > span:hover{
  color: #f99823;
}

div.header >  ul.header-options {
  grid-area: header-options;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  list-style: none;
  border-radius: inherit;
  gap:10px;
  margin: 0 10px;
  font-weight: 400;

}
div.header >  ul.header-options li:hover{
  color: #f99823;
  font-weight: 600;
  /* box-shadow: inset -1em -.5em .5em rgba(255, 255, 255); */
}

ul.header-options > li {
  width: 80px;
}

ul.header-options > li > span {
  font-weight: 400;
  display: flex;
  align-items: center;
}
div.reading-list {
  display: flex;
  overflow-x: scroll;
  grid-area: readlist;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: auto;
  margin: 50px 30px;
  padding: 140px 20px;
  
}


div.reading-list > div.book-content {
  grid-area: readlist;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex: 0 0 220px; /* Set the width of each book content */
  margin-right: 20px;
  align-items: center;
}

div.book-content > .img-container{
  margin: 10px;
  
}
div.book-content > .img-container > img{
  position: relative;
  width: auto;
  height: 170px;
  border-radius: 10px;
}

div.book-content > ul.book-info{
  position: relative;
  left: -30px;
  position: relative;
  /* padding: 0px 120px; */
  background: rgba( 233, 232, 230, 0.15 );
  box-shadow: 0 8px 32px 0 rgb(224, 221, 215);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba(120, 120, 120, 0.18);
  transform: translate(-16%, 20%);
  border-radius: 20px;
  padding: 20px 20px 20px 0;
}

ul.book-info{
  display: flex;
  justify-content: flex-start;
  align-self: center;
  gap: 10px;
}

ul.book-info > li{
  font-weight: 300;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: transparent;
  color: #090909;
}
ul.book-info > li#book-tittle {
  font-weight: 600 ;
  font-size: 1.4rem;
  text-transform: uppercase;
  background: transparent;
  justify-content: flex-start;
  padding: 15px 55px 15px 15px ;
  display: block;
  color: #f7f6f2;
}


ul.book-info > li#book-author,  ul.book-info > li#book-pages, ul.book-info > li#book-status{
  font-weight: 500;
  margin: 10px;
  flex: 1 1 100px;
}
.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 50px; /* Adjust the width of the navigation buttons */
}

.prev-button {
  order: -1; /* Move the previous button to the beginning */
}

.next-button {
  order: 1; /* Move the next button to the end */
}

button#prev-btn, button#next-btn{
  padding: 7px;
  color: #d5821d;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  gap: 30px;
}
button#prev-btn >span , button#next-btn > span{
  background: transparent;
  color: #f99823;
}
div.adding-buttons > button[type="submit"] > span {
  background: none;
}

button#prev-btn:hover, button#next-btn:hover {
  transition: all 0.4s ease;
  color: #f7f6f2;
  border: 2px solid #f99823;
  background-color: #f99823;

}
button#prev-btn >span:hover , button#next-btn > span:hover{
  color: #f7f6f2;
}

div.new-release {
  display: grid;
  grid-area: new-release;
  grid-template-columns: repeat(1, 12fr);
  grid-template-rows: auto;
  padding: 30px;
  margin: 30px;
  position: relative;
  overflow-y: scroll;/* Add this position property */
  background: rgba(233, 232, 230, 0.15);
  box-shadow: 0 8px 32px 0 rgb(224, 221, 215);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 20px;

}

dialog#new-book{
  border: 2px solid #f99823;
  border-radius: 10px;
  font-family: 'Jost', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px auto;
  width: 50%;
  
}
dialog#new-book > label{
  font-size: 1.1rem;
  font-weight: 100;
  padding: 15px 0;
  display: block;
}
input[type="text"] , input[type="number"] ,input[type="file"]{
  flex: 1 1 20px;
  padding: 15px;
  border: 1px solid #f99823;
  border-radius: 10px;
  align-items: center;
  width: 90%; 
}
input::file-selector-button {
  font-size: 0.7rem;
  padding: 7px;
  margin-right: 10px;
  border: 2px solid #e6decf;
  border-radius: 10px;
  border: 10px;
  cursor: pointer;
  color: #f7f6f2;
  background-color: #d5821d;

}

div.reading-progress {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

/* reading-status */

div.adding-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

div.adding-buttons > button[type="submit"]{
  padding: 7px 50px;
  color: #d5821d;
  cursor: pointer;
  border: 2px solid #f99823;
  border-radius: 15px;
  background-color: transparent;
  gap: 30px;
}

div.adding-buttons > button[type="submit"]:nth-child(1):hover{
  transition: all 0.4s ease;
  color: #f7f6f2;
  border: 2px solid #f99823;
  background-color: #f99823;
}
div.adding-buttons > button[type="submit"]:nth-child(2):hover {
  transition: all 0.4s ease;
  color: #f7f6f2;
  border: 2px solid #f95123;
  background-color: #f95123;
}


footer{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 50px;
}